<div class="card float-right max-h-60 w-[400px] overflow-auto">
  <div class="title"><h2>CV log</h2></div>
  <div class="content">
    <cv-spinner *ngIf="isLoading"></cv-spinner>
    <div class="alert danger" *ngIf="error !== null">{{ error }}</div>
    <ol
      class="commits-container"
      *ngIf="error === null && (commits | async) !== null">
      <li *ngFor="let item of commits | async">
        <span class="avatar">
          <img
            ngxGravatar
            [email]="item.email"
            alt="{{ item.user }} закоммітив"
            [size]="24" />
        </span>
        <div class="commit-wrapper">
          <div class="items-center justify-between sm:flex">
            <time>{{ when(item) }}</time>
            <div class="commit">
              <span class="commit-type {{ item.commitType }}">
                {{ item.commitType }}:
              </span>
              <span class="commit-title">
                {{ item.commitTitle }}
              </span>
            </div>
          </div>
          <div class="summary" *ngIf="item.summary !== ''">
            {{ item.summary }}
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
