<div class="container mx-auto my-16 px-6">
  <div class="card">
    <div class="title">
      <h2>Швець Сергій Олександрович</h2>
    </div>
    <div class="content">
      <cv-gitlab-commits></cv-gitlab-commits>
      <cv-block-element>
        <p>Дата народження: 23.01.1982р.</p>
        <p>Проживання: м.Київ</p>
        <p>
          Контакти:
          <span class="ml-6 block">
            <a href="mailto:wert2all@gmail.com">wert2all@gmail.com</a>
          </span>
          <span class="ml-6 block">моб. (050) 204-47-10</span>
        </p>

        <p class="pb-4">Графік работи: повний робочий день</p>
        <p>Досвід роботи: 10+ років</p>
        <p>Освіта: повна вища</p>
      </cv-block-element>
      <cv-block-element title="Мета">
        <p>
          Шукаю цікаву, креативну роботу в дружньому колективі з можливістю
          кар"єрного росту та самореалізації.
        </p>
      </cv-block-element>
      <cv-block-element title="Освіта">
        <p>
          2000-2006 - Київський Національний авіаційний університет, інститут
          інформатики, факультет комп"ютерних наук, кафедра інформаційних
          технологій, спеціаліст.
        </p>
      </cv-block-element>
      <cv-block-element title="Захоплення">
        <p>
          <a
            href="https://www.reddit.com/r/MechanicalKeyboards/"
            target="_blank"
            >r/mk</a
          >
          і конструювання механічних клавіатур
        </p>
        <p>kotlin та android-розробка</p>
      </cv-block-element>
    </div>
  </div>
</div>
