<div class="flex h-screen flex-col p-5">
  <div class="flex-grow items-center justify-center">
    <div class="mt-20 flex items-center justify-center">
      <a href="https://opensuse.org">
        <img
          style="border: 0 solid; width: 180px; height: 60px"
          alt="openSUSE.org"
          title="openSUSE.org"
          src="https://files.opensuse.org/opensuse/en/6/69/Opensuse_3.gif" />
      </a>
    </div>
  </div>
  <footer class="self-end">
    <div class="author"><strong>:$&gt;</strong> make wert2all</div>
    <a href="https://opensuse.org">
      <img
        style="border: 0 solid; width: 80px; height: 15px"
        alt="openSUSE.org"
        title="openSUSE.org"
        src="https://files.opensuse.org/opensuse/en/6/6e/Suselinux-green.png" />
    </a>
  </footer>
</div>
